.navbarToggler {
  background-color: white;
  border: none;
}
.navbarBrand {
  font-weight: 400;
}

.nav_link {
  transition: all 0.5s;
}
.nav_link:hover {
  transform: translateY(-5px);
}

@media (min-width: 992px) {
  .navbarToggler {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbarList {
    border: 1.5px solid #d1d5db;
    border-radius: 5px;
    padding: 5px 10px;
  }
}
